/* $global
--------------------------------------------- */
* {
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    overflow-x: hidden;
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;

    &.is-disabled {
        opacity: $faded;
        pointer-events: none;
    }
}



*:focus {
    outline: none
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
    zoom: 1;
}
::-webkit-input-placeholder {}:-moz-placeholder {} input[type=text],
input[type=submit] {
    -webkit-appearance: none;
}
.tame {
    width: 992px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.hide {
    display: none;
}
.screen-reader-text {
    display: none;
}