.animate-out {
    transition: $transition-normal;
    opacity: 0 !important;
    transform: translate3d(0,100px,0) !important;
    // @keyframes animateOut {
    //     0% {
    //         opacity: 1;
    //         transform: translate3d(0,0px,0);
    //     }
    //     100% {
    //         opacity: 0;
    //         transform: translate3d(0,100px,0);
    //     }
    // }
    // animation: animateOut 0.5s;
}

.animate-in {
    transition: $transition-normal;
    opacity: 1 !important;
    transform: translate3d(0,0,0) !important;
    // @keyframes animateIn {
    //     0% {
    //         opacity: 0;
    //         transform: translate3d(0,100px,0);
    //     }
    //     100% {
    //         opacity: 1;
    //         transform: translate3d(0,0,0);
    //     }
    // }
    // animation: animateIn 0.5s;
}