/**
 * Typography
 */

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700');

::selection {
    background: #42B1E1;
    color: #fff;
}

html {
    font-size: 100%;
}

body {
    color: #000000;
    font-family: $font-primary; 
    font-size: rem(18);
    font-weight: 300;
    letter-spacing: 0.0222em;
    line-height: 1.555;
}

h1,.pa-h1,
h2,.pa-h2,
h3,.pa-h3,
h4,.pa-h4,
h5,.pa-h5,
h6,.pa-h6 {
    font-family: $font-primary;
    margin: $spacer 0 0;
}

h1,.pa-h1 {
    font-size: rem(40);
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 1.375;
    text-transform: none;
}
h2,.pa-h2 {
    font-size: rem(30);
    font-weight: 300;
    letter-spacing: 0.01333em;
    line-height: 1.5;
    text-transform: none;
}
h3,.pa-h3 {
    font-size: rem(14);
    font-weight: 700;
    letter-spacing: 0.143em;
    line-height: 1.43;
    text-transform: uppercase;
}
h4,.pa-h4 {
    font-size: rem(18);
    font-weight: 300;
    letter-spacing: 0.0222em;
    line-height: 1.555;
    text-transform: none;
}
h5,.pa-h5 {
    font-size: rem(14);
    font-weight: 300;
    letter-spacing: 0.0222em;
    line-height: 1.571;
    text-transform: none;
}

h6,.pa-h6 {
    font-size: rem(12);
    font-weight: 700;
    letter-spacing: 0.08333em;
    line-height: 1;
    text-transform: uppercase;
}

p {
    margin: $spacer 0 0;
}

em {
    font-style: italic;
}
strong {
    font-weight: 700;
}

.pa-work-title {
    font-family: $font-primary;
    font-weight: 700;
    font-size: rem(30);
    letter-spacing: 0.01em;
    line-height: 1.333;
}

.pa-pullquote {
    font-weight: 700;
    font-size: rem(35);
    letter-spacing: 0.043em;
    line-height: 1.285;
}

blockquote {
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    
    &.has-quote:before {
        content: "\201C";
        font-size: rem(65);
        line-height: 0.7;
        display: block;
        font-family: "AmericanTypewriter", serif;
        opacity: 0.3;
    }

    cite {
        display: block;
        margin-top: 1rem;
        font-size: rem(30);
        line-height: 1;
        font-weight: 300;
        letter-spacing: 0;

        img {
            max-width:rem(90);
            max-height:100%;
            width:auto;
            height:auto;
        }
    }
}

pre, code {
    background: #eee;
    color: black;
    line-height: 1.25;
    font-size: 14px;
    font-family: monospace;
}

hr {
    border: 0;
    background: #b8b7b7;
    height: 1px;
}