/**
 * Typography
 */

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700');

::selection {
    background: #42B1E1;
    color: #fff;
}

html {
    font-size: 100%;
}

body {
    color: #2E3A3F;
    font-family: $font-primary; 
    font-size: rem(22); 
    font-weight: 300;
    letter-spacing: 0.01818em;
    line-height: 1.6;
}

h1,.pa-h1,
h2,.pa-h2,
h3,.pa-h3,
h4,.pa-h4,
h5,.pa-h5,
h6,.pa-h6 {
    font-family: $font-primary;
    margin: $spacer 0 0;
}

h1,.pa-h1 {
    font-size: rem(45);
    font-weight: 700;
    letter-spacing: 0.0333em;
    line-height: 1.333;
    text-transform: none;
}
h2,.pa-h2 {
    font-size: rem(30);
    font-weight: 300;
    letter-spacing: 0.01333em;
    line-height: 1.5;
    text-transform: none;
}
h3,.pa-h3 {
    font-size: rem(16);
    font-weight: 700;
    letter-spacing: 0.125em;
    line-height: 1.25;
    text-transform: uppercase;
}
h4,.pa-h4 {
    font-size: rem(22);
    font-weight: 300;
    letter-spacing: 0.01818em;
    line-height: 1.6;
    text-transform: none;
}
h5,.pa-h5,
h6,.pa-h6 {
    font-size: rem(18);
    font-weight: 300;
    letter-spacing: 0.0222em;
    line-height: 1.555;
    text-transform: none;
}

p {
    margin: $spacer 0 0;
}

em {
    font-style: italic;
}
strong {
    font-weight: 700;
}

blockquote {
    font-weight: 700;
    font-size: rem(35);
    letter-spacing: 0.042em;
    line-height: 1.285;
    text-align: center;
    &:before {
        content: "\201C";
        font-size: 56px;
        display: block;
        font-family: "AmericanTypewriter", serif;
    }

    cite {
        display: block;
        margin-top: 5rem;
        font-size: rem(30);
        line-height: 1;
        font-weight: 300;
        letter-spacing: 0;
    }
}

pre, code {
    background: #eee;
    color: black;
    line-height: 1.25;
    font-size: 14px;
    font-family: monospace;
}