/**
 * Typography
 */

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,700');

html {
    font-size: 100%;
}

body {
    font-size: rem(17);
    line-height: 1.235;
    font-family: $font-primary; 
    color: #2E3A3F;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,.pa-h1,
h2,.pa-h2,
h3,.pa-h3,
h4,.pa-h4,
h5,.pa-h5,
h6,.pa-h6 {
    font-family: $font-primary;
    text-transform: uppercase;
    font-weight: 700;
}

h1,.pa-h1 {
    font-size: rem(38);
    line-height: 1.26;
}
h2,.pa-h2 {
    font-weight: 600;
    font-size: rem(34);
    line-height: 1.2;
    
}
h3,.pa-h3 {
    font-weight: 600;
    font-size: rem(25);
    line-height: 1.32;
}
h4,.pa-h4 {
    font-weight: 600;
    font-size: rem(18);
    line-height: 1.444;
}
h5,.pa-h5 {
    font-size: rem(24);
    line-height: 1.333;
}
h6,.pa-h6 {
    font-size: rem(18);
    line-height: 1.444;
}

p {
    margin: $spacer 0 0;
}

em {
    font-style: italic;
}
strong {
    font-weight: 700;
}

::selection {
    background: #42B1E1;
    color: #fff;
}
::-moz-selection {
    background: #42B1E1;
    color: #fff;
}