$utilities: (

    'display-block' : ( display: block ),
    'display-inline-block' : ( display: inline-block ),
    'hide' : ( display: none ),

    'center' : ( margin-left: auto, margin-right: auto ),
    
    'text-center' : ( text-align: center ),
    'weight-bold' : ( font-weight: 700 ),
    'weight-light' : ( font-weight: 300 ),
    'uppercase' : ( text-transform: uppercase ),
    
    'bg-primary' :  ( background-color: $color-primary ),
    'color-primary' :  ( color: $color-primary ),
    'color-hover-primary' :  ( transition: $transition-fast ),
    'color-hover-primary:hover' :  ( color: $color-primary ),
    'color-white' :  ( color: white ),
    
    'transition' : ( transition: all 250ms ease-out ),
    'transition-slow' : ( transition: all 400ms $easeInOutCubic ),
    'transition-fast' : ( transition: all 100ms ease-out ),
    'scale-hover:hover' : ( transform: scale(1.05) ),

    'opaque' : ( opacity: 1 ),
    'faded' : ( opacity: $faded ),

    'clean-list' : ( margin-left: 0, padding-left: 0, list-style: none )

);

$utilities-sm: (
    // 'hide' : ( display: none ),
);

$utilities-md: (
    'hide' : ( display: none ),
);

$utilities-lg: (
    // 'hide' : ( display: none ),
);

$utilities-xl: (
    // 'hide' : ( display: none ),
);

@each $class, $props in $utilities {

    .#{$n}-u-#{$class} {
        @each $prop, $val in $props {
            #{$prop}: $val !important; 
        }
    }

}

@each $class, $props in $utilities-sm {

    @include media( map-get($breakpoints,'sm') ) {
        
        .#{$n}-u-#{$class}-sm {
            @each $prop, $val in $props {
                #{$prop}: $val !important; 
            }
        }

    }

}

@each $class, $props in $utilities-md {

    @include media( map-get($breakpoints,'md') ) {
        
        .#{$n}-u-#{$class}-md {
            @each $prop, $val in $props {
                #{$prop}: $val !important; 
            }
        }

    }

}

@each $class, $props in $utilities-lg {

    @include media( map-get($breakpoints,'lg') ) {
        
        .#{$n}-u-#{$class}-lg {
            @each $prop, $val in $props {
                #{$prop}: $val !important; 
            }
        }

    }

}

@each $class, $props in $utilities-xl {

    @include media( map-get($breakpoints,'xl') ) {
        
        .#{$n}-u-#{$class}-xl {
            @each $prop, $val in $props {
                #{$prop}: $val !important; 
            }
        }

    }

}
