/* $blog
--------------------------------------------- */

.blog-content .left {
    width: 725px;
    float: left;
    margin-right: 57px;
}
.blog-content .right {
    width: 200px;
    float: right;
    border-top: 4px solid #42B1E1;
    padding-top: 20px;
}
.blog-content .post .lefty {
    width: 125px;
    float: left;
    margin-right: 40px;
    text-align: right;
}
.blog-content .post .lefty h2 {
    color: #58595B;
}
.blog-content .post .righty {
    width: 560px;
    float: right;
}
.blog-content .post {
    border-top: 4px solid #42B1E1;
    padding-top: 20px;
    margin-bottom: 40px;
}
.blog-content .post h2 a:link,
.blog-content .post h2 a:visited {
    color: #42B1E1;
}
.blog-content .post h2 a:hover {
    color: #000;
}
.blog-content p {
    font-size: 18px;
    line-height: 22px;
}
.blog-content ul {
    margin-bottom: 30px;
}
.blog-content h5 {
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #414042;
    margin-bottom: 10px;
    font-weight: 700;
}
.blog-content .post img {
    max-width: 560px;
}
.blog-content .post .wp-caption-text {
    text-transform: uppercase;
    color: #414042;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    left: .1em;
}