.#{$n}-c-cover-media {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: black;

    &.does-scale:hover {
        img {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }

    &.does-fade:hover {
        img {
            opacity: $faded-light;
        }
    }

    & > img, & > video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        max-height: none;
        max-width: none;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        transition: $transition-slow;
    }

}

.#{$n}-c-cover-media__content {
    position: relative;
    padding: $container-padding;

    &.align-end {
        align-self: flex-end;
    }
    
    &.use-light-ui{
        color: white;
    }
    
    &.is-animated {
        transform: translate3d(0,100px,0);
        opacity: 0;
        transition: $transition-slow; 
        .#{$n}-c-cover-media:hover & {
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }
}