.#{$n}-c-cover-media {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: black;

    &.does-scale:hover {
        img {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }

    &.does-fade:hover {
        img {
            opacity: $faded-light;
        }
    }

    &.with-scrim {
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(11deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        }
    }

    & > img, & > video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 101%;
        height: auto;
        max-height: none;
        max-width: none;
        min-height: 101%;
        transform: translate(-50%, -50%);
        transition: $transition-slow;
    }

}

.#{$n}-c-cover-media__content {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: $container-padding;

    &.align-end {
        align-self: flex-end;
    }
    &.use-light-ui{
        color: white;
    }
    &.is-animated {
        transition: $transition-slow; 
    }
    &.fade-in {
        opacity: 0;
        .#{$n}-c-cover-media:hover & {     
            opacity: 1;
        }
    }
    &.from-bottom {
        transform: translate3d(0,calc(-50% + 100px),0);
        .#{$n}-c-cover-media:hover & {
            transform: translate3d(0,-50%,0);
        }
    }
}