/* $footer
--------------------------------------------- */

* {
    margin: 0;
}
html,
body {
    height: 100%;
}
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
.mainfoot,
.push {
    height: 60px;
}
.mainfoot {
    bottom: 0;
    background: #000;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    position: relative;
    letter-spacing: .1em;
    z-index: 2;
    color: #959595;
}
.mainfoot a:link,
.mainfoot a:visited {
    color: #959595;
}
.mainfoot a:hover {
    color: #fff;
}
.mainfoot p {
    margin-bottom: 0;
}
.mainfoot .social {
    float: right;
}
.mainfoot .byline:link,
.mainfoot .byline:visited {
    font-size: 9px;
    color: #666;
}
.mainfoot .byline:hover {
    color: #fff;
}
.social a:link,
.social a:visited {
    display: block;
    margin: 0 5px;
    float: left;
    position: relative;
    z-index: 4;
}

.social a.facebook {
    background: transparent url('../img/icons.png') no-repeat -44px -820px;
    text-indent: -9999px;
    width: 30px;
    height: 60px;
}
.social a.facebook:hover {
    background-position: -44px -1420px;
}

.social a.linkedin {
    background: transparent url('../img/linkedin@2x.png') no-repeat 0 -4px;
    background-size: 100%;
    text-indent: -9999px;
    width: 30px;
    height: 60px;
}
.social a.linkedin:hover {
    background-position: 0 -64px;
}

.social a.instagram {
    background: transparent url('../img/instagram@2x.png') no-repeat 0 -4px;
    background-size: 100% auto;
    text-indent: -9999px;
    width: 30px;
    height: 60px;
}
.social a.instagram:hover {
    background-position: 0 -64px;
}

.social a.twitter {
    background: transparent url('../img/icons.png') no-repeat -44px -1020px;
    text-indent: -9999px;
    width: 30px;
    height: 60px;
}
.social a.twitter:hover {
    background-position: -44px -1620px;
}

.social a.youtube {
    background: transparent url('../img/icons.png') no-repeat -35px -1220px;
    text-indent: -9999px;
    width: 60px;
    height: 60px;
}
.social a.youtube:hover {
    background-position: -35px -1820px;
}