/* $footer
--------------------------------------------- */
.mainfoot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #626f74;
    padding: 1.2rem 2rem;
    letter-spacing: 0.054em;
}
.mainfoot a {
    opacity: 1;
    &:hover {
        color: $color-primary
    }
}
.mainfoot .social {
    display: flex;
    align-items: center;
    float: right;
}
.social a {
    color: #CFCFCF;
    line-height: 0;
    margin-left: 2em;

    &:hover {
        color: $color-primary
    }

    .pa-b-icon {
        font-size: 1.7rem;
    }

    &.blog-link {
        color: #9B9B9B;
        font-size: rem(15);
        &:hover {
            color: $color-primary
        }
    }
}
