.pa-c-header-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: rem(820);

    a {
        @extend .pa-h6;
        font-size: 12px;
        margin: 0;
        position: relative;
        display: block;
        transition: $transition-normal;
        padding: 42px 0px;

        .pa-c-masthead.is-minimized & {
            padding: 24px 0;
        }

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            opacity: 0;
            height: 2px;
            transition: $transition-fast;
            background-color: $color-primary;
        }
    }

    .current-menu-item a,
    a:hover,
    a:focus {
        opacity: 1;
        color: $color-primary;
        &:after {
            opacity: 1;
            width: 100%;
        }
    }
    
}