.pa-c-header-menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: rem(1100);
    margin-left: $spacer;

    a {
        color: white;
        text-transform: uppercase;
        text-shadow: 0 2px 4px rgba(black, 0.5);
        font-weight: 700;
        font-size: rem(18);
        line-height: 1;
        display: block;
        transition: all 250ms ease-out;
        &:hover,
        &:focus {
            color: $color-primary;
            opacity: 1;
        }
    }
}