.pa-c-hero {
    @extend .pa-l-pt-4;
    @extend .pa-l-pb-2;
    position: relative;
    text-align: center;
    margin-top: 102px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    &.is-left-aligned {
        text-align: left;
    }
    
    &.has-bg-image {
        @extend .pa-l-pb-4;
    }

    &.has-media {
        padding-bottom: 0;
    }

    & > * {
        position: relative;
    }
}

.pa-c-hero__scrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.83;
}
