.pa-c-home-nav {
    background: black;
    padding: 0 1rem 0 $container-padding;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #5d5d5d;
    margin-bottom: 5px;
}
.pa-c-home-nav__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: rem(820);

    a {
        @extend .pa-h6;
        @extend .pa-l-mt-0;
        position: relative;
        color: white;
        display: block;
        transition: $transition-normal;
        padding: 24px 0;
        &:hover,
        &:focus {
            opacity: 1;
            color: $color-primary;
            &:after {
                opacity: 1;
                width: 100%;
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            opacity: 0;
            height: 1px;
            transition: $transition-fast;
            background-color: $color-primary;
        }
    }
}