.pa-c-logo {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: $transition-normal;

    &:hover, &:focus {
        .pa-c-logo__static { display: none; }
        .pa-c-logo__active { display: block; }
    }

    .pa-c-masthead & {
        flex-shrink: 0;
        margin-right: $container-padding;
    }
    .pa-c-masthead.is-minimized & {
        width: 42px;
        height: 42px;
        transform: rotate(360deg);
    }
    
    .pa-c-logo__static { display: block; }
    .pa-c-logo__active { display: none; }
    
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
    }
} 