.pa-c-masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fafafa;
    box-sizing: border-box;
    // border-bottom: 1px solid #b8b7b7;
    z-index: 1000;
    padding: 0 $container-padding;
    
    .home & {
        background: transparent;
        border-bottom: 0;
        top: $container-padding;
    }
}
