.pa-c-masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: $container-padding;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    
    z-index: 1000;
    padding: 0 $container-padding;
}
