.pa-c-masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fafafa;
    box-sizing: border-box;
    z-index: 1000;
    padding: 0 $container-padding;
    transition: $transition-normal;

    &.is-fixed {
        position: fixed;
        bottom: 100%;
        top: auto;
    }

    &.is-fixed.is-visible {
        transform: translate3d(0,100%,0);
    }
    
    .home & {
        background: transparent;
        border-bottom: 0;
        top: $container-padding;
    }
}
