
/* Responsive Media
 * -----------------------------------------------------------*/
.#{$namespace}-c-media {
	position: relative;
	height: 0;
	overflow: hidden;

	iframe, video, object {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
    }

}

.#{$namespace}-c-media--1x2 {
	@extend .#{$namespace}-c-media;
	padding-top: 50%;
}

.#{$namespace}-c-media--16x9 {
	@extend .#{$namespace}-c-media;
	padding-top: 56.25%;
}

.#{$namespace}-c-media--4x3 {
	@extend .#{$namespace}-c-media;
	padding-top: 75%;
}

.#{$namespace}-c-media--1x1 {
	@extend .#{$namespace}-c-media;
	padding-top: 100%;
}

