.pa-c-post__back-link {
    @extend .pa-h6;
    margin-left: rem(30);

    @include media(map-get($breakpoints, 'lg')) {
        position: absolute;
        top: 8px;
        right: 100%;
        margin: 0 rem(-40) 0 0;
        white-space: nowrap;
    }
}