.pa-c-post__back-link {
    @extend .pa-h6;

    @include media( $lg ) {
        position: absolute;
        top: 0;
        right: calc( 100% + #{$gutter * 2} );
        margin: 0 rem(-40) 0 0;
        white-space: nowrap;
    }
}