.pa-c-profile {
    text-align: center;
    position: relative;
}

.pa-c-profile__image,
.pa-c-profile__hover-image {

    img {
        display: block;
        transition: $transition-normal
    }

}

.pa-c-profile__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: none;

    img {
        .pa-c-profile:hover & {
            transform : translate(-50%, -50%) scale(1.1);
            opacity: 0;
        }
    }
}

.pa-c-profile__hover-image {
    img {
        transform : translate(-50%, -50%) scale(0.9);
        .pa-c-profile:hover & {
            transform : translate(-50%, -50%) scale(1);
        }
    }
}