/* $retina
--------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
    body {
        background: url('../img/backgrounds/white-texture@2x.png') repeat 0 0;
    }
    .social a.facebook,
    .social a.twitter,
    .social a.youtube,
    .slideshow .previous,
    .slideshow .next,
    .page-id-8 .top .quote .icon,
    .page-id-10 .content .left h3 a:link,
    .page-id-10 .content .left h3 a:visited,
    .page-id-10 .content .left .partner-linkedin,
    .middle .press .quotemark {
        background-image: url('../img/icons@2x.png');
        background-size: 120px 4430px;
    }
    .page-id-8 .bottom .press h3 .arrow {
        background-image: url('../img/arrows@2x.png');
        background-size: 20px 200px;
    }
}