.pa-c-work__client {
    background: white;
    padding: rem(30) rem(80);
    height: rem(100);
    margin: rem(-35) auto 0;
    text-align: center;
    width: 20%;
    min-width: rem(260);
    position: relative;

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}