.#{$n}-b-filter {
    @extend .pa-h4;
    display: inline-block; 
    margin: 0 rem(50);
    transition: $transition-fast;
    &:hover, &.is-active {
        color: $color-primary;
    }
    &.is-active {
        cursor: default;
    }
}