.pa-l-container {
    max-width: calc( #{$container-width} + #{$container-padding} + #{$container-padding} );
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
}

.pa-l-flex[class*="span-"] {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;

    .pa-l-with-gutters & {
        flex-basis: calc(100% - #{$gutter});
        max-width: calc(100% - #{$gutter});
        margin-left: $gutter/2;
        margin-right: $gutter/2;
    }
}

@for $i from 1 through $columns {

    // .span-#{$i} {
    //     width: #{$i/$columns}%;
    // }
    .pa-l-flex.span-#{$i} {
        flex-basis: $i / $columns * 100%;
        
        .pa-l-with-gutters & {
            flex-basis: calc(#{$i / $columns * 100%} - #{$gutter});
        }
    }

}

@each $bp, $size in $breakpoints {

    @include media($size) {

        @for $i from 1 through $columns {
            
            .pa-l-flex.span-#{$i}-#{$bp} {
                flex-basis: $i / $columns * 100%;

                .pa-l-with-gutters & {
                    flex-basis: calc(#{$i / $columns * 100%} - #{$gutter});
                }
            }
        
        }

    }

}

