// Spacing
// --------------------------------------- /
$sides: ( 
	'ma' : ( 'margin' ),
	'mx' : ( 'margin-left', 'margin-right' ),
	'my' : ( 'margin-top', 'margin-bottom' ),
	'mt' : ( 'margin-top' ),
	'mr' : ( 'margin-right' ),
	'mb' : ( 'margin-bottom' ),
	'ml' : ( 'margin-left' ),
	'pa' : ( 'padding' ),
	'px' : ( 'padding-left', 'padding-right' ),
	'py' : ( 'padding-top', 'padding-bottom' ),
	'pt' : ( 'padding-top' ),
	'pr' : ( 'padding-right' ),
	'pb' : ( 'padding-bottom' ),
	'pl' : ( 'padding-left' ),
);
$spacings: (
	'nudge': $spacer/3,
	'half': $spacer/2,
	'gutter': $gutter,
	'0' : 0,
	'1' : $spacer,
	'2' : $spacer,
	'3' : $spacer,
	'4' : $spacer * 1.25,
	'5' : $spacer * 1.75,
	'6' : $spacer * 2.75,
);
$spacings_md: (
	'3' : $spacer * 1.25,
	'4' : $spacer * 1.75,
	'5' : $spacer * 2.75,
	'6' : $spacer * 4.75,
);
$spacings_lg: (
	'2' : $spacer * 1.25,
	'3' : $spacer * 1.75,
	'4' : $spacer * 2.75,
	'5' : $spacer * 4.75,
	'6' : $spacer * 8.75,
);

@each $side, $props in $sides {

	@each $space, $val in $spacings {
		
		.#{$n}-l-#{$side}-#{$space} {
			@each $prop in $props {
				#{$prop}: #{$val};
			}
		}

	}

	@include media( map-get( $breakpoints, 'md' ) ) {
		@each $space, $val in $spacings_md {
		
			.#{$n}-l-#{$side}-#{$space} {
				@each $prop in $props {
					#{$prop}: #{$val};
				}
			}
	
		}
	}

	@include media( map-get( $breakpoints, 'lg' ) ) {
		@each $space, $val in $spacings_lg {
		
			.#{$n}-l-#{$side}-#{$space} {
				@each $prop in $props {
					#{$prop}: #{$val};
				}
			}
	
		}
	}
} 