$icomoon-font-path: "fonts" !default;

$icon-muted: \e900;
$icon-sound: \e901;
$icon-left-quote: \e902;
$icon-hand-wave: \e903;
$icon-linkedin-square: \f08c;
$icon-twitter: \f099;
$icon-youtube-play: \f16a;
$icon-instagram: \f16d;
$icon-facebook-official: \f230;

