$icomoon-font-family: "portal-a-ui" !default;
$icomoon-font-path: "fonts" !default;

$icon-hand: "\e908";
$icon-envelope: "\e909";
$icon-suitcase: "\e90a";
$icon-pencil: "\e90b";
$icon-team: "\e90c";
$icon-arrow-down: "\e904";
$icon-arrow-left: "\e905";
$icon-arrow-up: "\e906";
$icon-arrow-right: "\e907";
$icon-muted: "\e900";
$icon-sound: "\e901";
$icon-left-quote: "\e902";
$icon-hand-wave: "\e903";
$icon-linkedin: "\f08c";
$icon-twitter: "\f099";
$icon-youtube: "\f16a";
$icon-instagram: "\f16d";
$icon-facebook: "\f230";

